<h3>Генерация отчетов</h3> <br>
<h4> <%= link_to "журнал регистрации актов входного контроля и освидетельствования труб", :action => 'new', :controller => 'magazines' %></h4>
<h4> <%= link_to "отчет в Газпром центрремонт", :action => 'new', :controller => 'report_controls' %></h4>
<h4> <%= link_to "отчет в Газнадзор", :action => 'new', :controller => 'report_gazcontrols' %></h4>
