<%= simple_form_for(@magazine) do |f| %>
  <%= f.error_notification %>
    укажите дату начала ведения журнала
  <div class="form-inputs">
   <%= f.date_select :start, :name => "укажите дату начала ведения журнала" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "создать журнал"%>
  </div>
<% end %>
